<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third"><h1>Password Generator</h1>
      <div class="field">
        <label>Enter Length</label>
        <input class="input" (input)="onChangeLength($event.target.value)">
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">Use Letters</label>
          <input (change)="letterChange()" type="checkbox">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">Use Numbers</label>
          <input (change)="numberChange()" type="checkbox">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">Use Symbols</label>
          <input (change)="symbolChange()" type="checkbox">
        </div>
      </div>
      <button
        [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers))"
        (click)="onButtonClick()" class="button is-link is-fullwidth"
      >
        Generate!
      </button>
      <div class="box">
        <label>Your Password</label>
        <input class="input" [value]="password">
      </div>
    </div>
  </div>
</div>



